<div style = "height: 50px;"></div>

# 필요한 모듈 불러오기

In [68]:
import os

import pandas            as pd
import matplotlib.pyplot as plt
import numpy             as np
import tensorflow        as tf

import warnings
warnings.simplefilter("ignore")

from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares

<div style = "height: 50px;"><div/>

# <span style = "font-weight:bold;color:#0172d4;">STEP 1</span> : 데이터 전처리

## 1. 데이터 불러오기 (1) ratings
<hr/>

In [69]:
rating_file_path='data/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep = '::', names = ratings_cols, engine = 'python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head(2)

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109

<div style = "height: 50px;"><div/>

## 2. 데이터 전처리하기 (1) ratings
<hr/>

### ratings 3점 미만은 삭제하기

In [70]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings'] >= 3]
filtered_data_size = len(ratings)

In [71]:
print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

<div style = "height: 25px;"><div/>

### atings 컬럼의 이름을 counts로 변경

In [72]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns = {'ratings':'counts'}, inplace = True)

In [73]:
ratings.head(2)

   user_id  movie_id  counts  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109

<div style = "height: 50px;"><div/>

## 3. 데이터 불러오기 (2) movies
<hr/>

In [74]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path = 'data/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep = '::', names = cols, engine = 'python', encoding = 'ISO-8859-1')
movies.head(2)

   movie_id             title                         genre
0         1  Toy Story (1995)   Animation|Children's|Comedy
1         2    Jumanji (1995)  Adventure|Children's|Fantasy

<div style = "height: 50px;"><div/>

## 4. 데이터 전처리하기 (2) movies
<hr/>

### 문자형 데이터 소문자로 변환하기

In [75]:
movies['title'] = movies['title'].str.lower()
movies['genre'] = movies['genre'].str.lower()

In [76]:
movies.head(10)

   movie_id                               title                         genre
0         1                    toy story (1995)   animation|children's|comedy
1         2                      jumanji (1995)  adventure|children's|fantasy
2         3             grumpier old men (1995)                comedy|romance
3         4            waiting to exhale (1995)                  comedy|drama
4         5  father of the bride part ii (1995)                        comedy
5         6                         heat (1995)         action|crime|thriller
6         7                      sabrina (1995)                comedy|romance
7         8                 tom and huck (1995)          adventure|children's
8         9                 sudden death (1995)                        action
9        10                    goldeneye (1995)     action|adventure|thriller

<div style = "height: 50px;"></div>

## 5. 데이터 합치기 
<hr/>

<p style= "font-size:15px; line-height:24px;">데이터를 분석하거나 모델을 돌릴 떄에는 ratings데이터를 사용하는데, <br/>
이를 출력했을 때 movie_id만 나오는 것 보다는 제목과 타이틀이 같이 나오는 것이 보기 편할 것이라고 판단되어 데이터를 합치고자 한다.</p>

In [77]:
movies.head(2)

   movie_id             title                         genre
0         1  toy story (1995)   animation|children's|comedy
1         2    jumanji (1995)  adventure|children's|fantasy

In [78]:
# movie_id 값을 기준으로 데이터프레임 정렬하기
ratings = ratings.sort_values(by = 'movie_id')

In [79]:
def data_add(dic_columns, dic_columns2):

    # 영화 movie_id, dic_columns2 딕셔너리화 하기
    movies_dict =  movies[dic_columns]
    movies_dict = pd.DataFrame(movies_dict)
    movies_dict[dic_columns2] = movies[dic_columns2]
    movies_dict.set_index(dic_columns, inplace = True)
    movies_dict = movies_dict.to_dict()
    movies_dict[dic_columns2][1]
    movies_dict_2 = movies_dict[dic_columns2]
    
    # ratings[dic_columns]와 같은 값이라면 dic_columns2을 빈 리스트에 추가하는 함수
    movie_list = []

    for m_id, m_title in movies_dict_2.items():
        for j in ratings[dic_columns]:
            if j == m_id:
                movie_list.append(m_title)
    
    # 위에 만든 리스트를 ratings의 새로운 열로 만듦
    ratings[dic_columns2] = movie_list

<p style= "font-size:15px; line-height:24px;">위 함수는 dic_columns(movie_id)를 key값으로, dic_columns2(ratings에 추가할 열 값)을 values값으로 하는 딕셔너리를 생성한 후,<br/> 
ratings의 movie_id와 생성한 딕셔너리의 키값(movie_id)과 같다면, dic_columns2값을 추가하는 함수이다.</p>

In [80]:
# ratings에 title 추가
data_add('movie_id', 'title')

In [81]:
# ratings에 genre 추가
data_add('movie_id', 'genre')

In [82]:
ratings = ratings.reset_index(drop = True)

In [83]:
ratings.tail()

,user_id,movie_id,counts,timestamp,title,genre
836473,4939,3952,3,987878275,"contender, the (2000)",drama|thriller
836474,1748,3952,3,992337202,"contender, the (2000)",drama|thriller
836475,1965,3952,3,974688627,"contender, the (2000)",drama|thriller
836476,1589,3952,4,974734727,"contender, the (2000)",drama|thriller
836477,4816,3952,4,985653887,"contender, the (2000)",drama|thriller

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 2</span> : 데이터 분석하기

## 1. ratings에 있는 유니크한 영화 개수
<hr/>

In [84]:
# ratings에 있는 유니크한 영화 개수
ratings['movie_id'].nunique()

3628

<div style = "height: 50px;"></div>

## 2. ratings에 있는 유니크한 사용자 수
<hr/>

In [85]:
# ratings에 있는 유니크한 사용자 수
ratings['user_id'].nunique()

6039

<div style = "height: 50px;"></div>

## 3. 가장 인기 있는 영화 30개(인기순)
<hr/>

<p style= "font-size:15px; line-height:24px;">인기의 기준은, 영화의 user_id 개수이다.<br/>
user_id 개수가 가장 많은 movie_id를 찾은 후, 이를 통해 영화 제목을 출력하고자 한다.</p>

In [86]:
# 인기 많은 아티스트
movie_id_count = ratings.groupby('title')['user_id'].count()

In [87]:
movie_id_count = movie_id_count.sort_values(ascending=False).head(30)

In [88]:
movie_id_count

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 3</span> : 선호하는 영화 5가지를 ratings에 추가하기

<p style= "font-size:15px; line-height:24px;">애니메이션 장르의 영화만 출력하여 좋아하는 영화가 있는지 확인해보고자 한다.</p>

In [89]:
# 영화 검색을 통해 movie_id 찾기

In [90]:
# 영화 검색
favorite_search = movies[movies['genre'].str.contains('animation')]
favorite_search.tail(20)

,movie_id,title,genre
2985,3054,pokémon: the first movie (1998),animation|children's
3045,3114,toy story 2 (1999),animation|children's|comedy
3090,3159,fantasia 2000 (1999),animation|children's|musical
3144,3213,batman: mask of the phantasm (1993),animation|children's
3218,3287,"tigger movie, the (2000)",animation|children's
3331,3400,we're back! a dinosaur's story (1993),animation|children's
3360,3429,creature comforts (1990),animation|comedy
3414,3483,"road to el dorado, the (2000)",animation|children's
3523,3592,time masters (les maîtres du temps) (1982),animation|sci-fi
3542,3611,saludos amigos (1943),animation|children's|comedy
3546,3615,dinosaur (2000),animation|children's
3656,3725,american pop (1981),animation|musical
3676,3745,titan a.e. (2000),adventure|animation|sci-fi
3682,3751,chicken run (2000),animation|children's|comedy
3685,3754,"adventures of rocky and bullwinkle, the (2000)",animation|children's|comedy
3690,3759,fun and fancy free (1947),animation|children's|musical
3706,3775,make mine music (1946),animation|children's|musical
3707,3776,melody time (1948),animation|children's|musical
3730,3799,pokémon the movie 2000 (2000),animation|children's
3875,3945,digimon: the movie (2000),adventure|animation|children's

In [91]:
# 좋아하는 영화
my_favorite = ['lion king, the (1994)' , 'pocahontas (1995)' ,'toy story (1995)' ,'toy story 2 (1999)' ,'road to el dorado, the (2000)']
my_favorite_id = [364, 48, 1, 3114, 3483]
my_favorite_genre = ["animation|children's|musical", "animation|children's|musical|romance", "animation|children's|comedy", "animation|children's|comedy", "animation|children's"]

In [92]:
# '6041'이라는 user_id가 위 영화를 3회씩, 956704887만큼 봤다고 가정
my_playlist = pd.DataFrame({'user_id': [6041]*5, 'movie_id': my_favorite_id, 'counts':[3]*5, 'timestamp':[956704887]*5, 'title': my_favorite, 'genre': my_favorite_genre})

In [93]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836478 entries, 0 to 836477
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    836478 non-null  int64
 1   movie_id   836478 non-null  int64
 2   counts     836478 non-null  int64
 3   timestamp  836478 non-null  int64
 4   title      836478 non-null  object
 5   genre      836478 non-null  object
dtypes: int64(4), object(2)
memory usage: 38.3+ MB

In [94]:
my_playlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    5 non-null      int64
 1   movie_id   5 non-null      int64
 2   counts     5 non-null      int64
 3   timestamp  5 non-null      int64
 4   title      5 non-null      object
 5   genre      5 non-null      object
dtypes: int64(4), object(2)
memory usage: 368.0+ bytes

In [95]:
# user_id에 'zimin'이라는 데이터가 없다면 임의로 만든 my_favorite 데이터를 추가
if not ratings.isin({'user_id':[6041]})['user_id'].any(): 
    ratings = ratings.append(my_playlist)

In [96]:
# 확인 
ratings.tail(10)

,user_id,movie_id,counts,timestamp,title,genre
836473,4939,3952,3,987878275,"contender, the (2000)",drama|thriller
836474,1748,3952,3,992337202,"contender, the (2000)",drama|thriller
836475,1965,3952,3,974688627,"contender, the (2000)",drama|thriller
836476,1589,3952,4,974734727,"contender, the (2000)",drama|thriller
836477,4816,3952,4,985653887,"contender, the (2000)",drama|thriller
0,6041,364,3,956704887,"lion king, the (1994)",animation|children's|musical
1,6041,48,3,956704887,pocahontas (1995),animation|children's|musical|romance
2,6041,1,3,956704887,toy story (1995),animation|children's|comedy
3,6041,3114,3,956704887,toy story 2 (1999),animation|children's|comedy
4,6041,3483,3,956704887,"road to el dorado, the (2000)",animation|children's

In [97]:
ratings = ratings.reset_index(drop = True)

In [98]:
# 컬럼 순서 변경
ratings = ratings[['user_id', 'counts', 'movie_id', 'title', 'genre', 'timestamp']]

In [99]:
ratings

,user_id,counts,movie_id,title,genre,timestamp
0,5636,3,1,toy story (1995),animation|children's|comedy,958967064
1,4458,4,1,toy story (1995),animation|children's|comedy,965096620
2,4546,4,1,toy story (1995),animation|children's|comedy,964656523
3,5037,5,1,toy story (1995),animation|children's|comedy,962547743
4,5575,4,1,toy story (1995),animation|children's|comedy,959291679
...,...,...,...,...,...,...
836478,6041,3,364,"lion king, the (1994)",animation|children's|musical,956704887
836479,6041,3,48,pocahontas (1995),animation|children's|musical|romance,956704887
836480,6041,3,1,toy story (1995),animation|children's|comedy,956704887
836481,6041,3,3114,toy story 2 (1999),animation|children's|comedy,956704887
836482,6041,3,3483,"road to el dorado, the (2000)",animation|children's,956704887

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 4</span> : 데이터 인덱싱

In [100]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = ratings['user_id'].unique()
movie_unique = ratings['movie_id'].unique()

In [101]:
# 유저, 아티스트 indexing 하는 코드
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [104]:
# 인덱싱 확인
print(user_to_idx[6041])    
print(movie_to_idx[1])

6039
0

In [38]:
ratings_test = ratings.copy()
# ratings = ratings_test.copy()

In [105]:
# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()

if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

user_id column indexing OK!!

In [106]:
# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_id_data = ratings['movie_id'].map(movie_to_idx.get).dropna()

if len(temp_movie_id_data) == len(ratings):
    print('movie column indexing OK!!')
    ratings['movie_id'] = temp_movie_id_data
else:
    print('movie_id column indexing Fail!!')

ratings

movie column indexing OK!!

,user_id,counts,movie_id,title,genre,timestamp
0,0,3,0,toy story (1995),animation|children's|comedy,958967064
1,1,4,0,toy story (1995),animation|children's|comedy,965096620
2,2,4,0,toy story (1995),animation|children's|comedy,964656523
3,3,5,0,toy story (1995),animation|children's|comedy,962547743
4,4,4,0,toy story (1995),animation|children's|comedy,959291679
...,...,...,...,...,...,...
836478,6039,3,350,"lion king, the (1994)",animation|children's|musical,956704887
836479,6039,3,47,pocahontas (1995),animation|children's|musical|romance,956704887
836480,6039,3,0,toy story (1995),animation|children's|comedy,956704887
836481,6039,3,2845,toy story 2 (1999),animation|children's|comedy,956704887
836482,6039,3,3182,"road to el dorado, the (2000)",animation|children's,956704887

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 5</span> : CSR matrix 만들기

In [107]:
# data를 CSR Matrix에 맞게 변형
num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

In [108]:
csr_data = csr_matrix((ratings.counts, (ratings.user_id, ratings.movie_id)), shape= (num_user, num_movie))

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 6</span> : AlternatingLeastSquares 모델 설계 및 훈련하기

In [109]:
# implicit 라이브러리에서 권장하고 있는 부분 (학습 내용과는 무관함)
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [196]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=700, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)

In [197]:
# 모델 훈련
als_model.fit(csr_data)

  0%|          | 0/50 [00:00<?, ?it/s]

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 7</span> : AlternatingLeastSquares 모델 평가하기

## 1. 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악하기
<hr/>

In [198]:
user_to_idx[6041]

6039

In [199]:
test_user, toy_story1 = user_to_idx[6041], movie_to_idx[1]
test_user_vec, toy_story1_vec = als_model.user_factors[test_user], als_model.item_factors[toy_story1]

In [200]:
test_user_vec

array([-1.20597191e-01, -1.42932191e-01, -3.42828110e-02, -1.01214819e-01,
        1.32168710e-01, -2.88038999e-01,  1.48793057e-01,  3.01586598e-01,
        1.65445074e-01,  1.22846439e-01, -1.73211396e-01, -1.35136947e-01,
        1.05831623e-01, -2.28009641e-01, -2.69394189e-01,  1.47827700e-01,
        1.70879021e-01,  2.19084546e-01,  5.59382476e-02, -1.62197515e-01,
       -1.42817453e-01,  2.98008591e-01, -1.86207935e-01, -2.97203541e-01,
        1.24151133e-01,  3.80978137e-02, -2.91550130e-01,  8.00252408e-02,
       -2.45823920e-01,  2.91575491e-01, -7.37768412e-02,  1.72070131e-01,
       -1.82047952e-02,  1.21951699e-01,  5.23321442e-02,  7.88353384e-02,
       -1.96543913e-02,  1.95830837e-01,  7.36032352e-02, -2.28725597e-01,
       -2.06321210e-01, -6.03963099e-02,  2.97019444e-02,  2.62824327e-01,
       -9.90527347e-02, -1.35031424e-03, -3.13997805e-01, -7.08134919e-02,
       -1.92414597e-01,  3.47495191e-02, -2.01249737e-02, -2.95412093e-01,
        1.34008946e-02, -2.75937617e-01,  3.18020940e-01, -2.29426324e-01,
       -1.04055181e-01,  3.16877812e-02, -1.06482521e-01,  1.14892952e-01,
       -1.96868464e-01,  2.19665110e-01, -3.46308500e-02,  1.27798975e-01,
       -5.09704873e-02,  1.73568398e-01, -1.13132037e-01,  3.10563922e-01,
        6.32896349e-02, -1.37160067e-02,  5.66178933e-03, -3.56214494e-02,
       -1.25979811e-01, -5.78906760e-02, -2.71915495e-01, -3.12215984e-02,
       -3.27933669e-01, -2.29474232e-01, -7.51860514e-02,  6.86389357e-02,
       -3.62127498e-02,  3.60523492e-01,  2.21405745e-01,  4.51137312e-02,
        6.92870542e-02, -1.22030951e-01, -1.86942294e-02, -2.65161861e-02,
        1.30719274e-01,  3.55976492e-01,  1.24627158e-01,  2.01748848e-01,
       -5.72262285e-03, -8.84315968e-02,  2.37376109e-01, -1.53510660e-01,
       -1.39762908e-02, -9.70228910e-02, -2.95384645e-01, -9.45737138e-02,
       -3.34938057e-02, -6.84949905e-02,  5.90479448e-02, -8.11647326e-02,
        1.13574125e-01, -1.32570416e-02,  1.69689178e-01, -1.20240033e-01,
        1.50612116e-01, -1.48057595e-01,  3.46370824e-02,  1.31981507e-01,
       -1.24211401e-01, -4.92057530e-03,  5.64617328e-02,  1.44379705e-01,
       -1.60483178e-02,  3.14833857e-02,  1.35579616e-01,  1.34908840e-01,
       -3.85845155e-02,  2.45817184e-01,  9.35721472e-02, -2.60647327e-01,
        1.60761073e-01,  2.53197234e-02, -5.53874597e-02,  6.38129041e-02,
        2.66591430e-01, -8.44388232e-02,  6.97042644e-02, -1.42518684e-01,
       -2.00189590e-01, -8.38930346e-03, -9.10860524e-02, -8.10649991e-02,
        1.01955101e-01,  1.23823345e-01, -1.34093184e-02, -2.52731770e-01,
       -1.72791572e-03,  1.59467593e-01, -1.60986371e-02, -1.46297276e-01,
       -4.36187442e-03, -1.25454888e-01, -2.98471034e-01,  2.26445839e-01,
       -2.12475821e-01, -2.55214214e-01, -2.61355251e-01, -6.24881275e-02,
       -1.80373728e-01,  2.29785651e-01, -5.35469502e-02, -2.63773892e-02,
        2.59764731e-01,  1.49580702e-01,  1.29324958e-01,  4.65649441e-02,
        2.14774311e-02, -2.77752187e-02, -1.60993353e-01,  1.78015884e-02,
        1.48555180e-02, -1.01058610e-01, -8.74479488e-02, -6.90306574e-02,
        2.35754967e-01, -5.61272725e-02,  3.02646775e-02, -8.27247873e-02,
        5.16327918e-02, -2.59347171e-01, -2.16981471e-01, -3.82114388e-02,
       -3.25901866e-01, -1.52548924e-01, -1.58151731e-01,  4.52589616e-02,
       -2.31114179e-02, -1.70304608e-02,  1.10147163e-01, -3.54601145e-02,
        6.36340603e-02, -1.02748603e-01, -1.58161536e-01,  1.45390615e-01,
        8.00150931e-02, -1.11473389e-01, -2.82979965e-01, -9.18071494e-02,
       -1.03610367e-01,  1.64545849e-01,  1.87566727e-01,  4.04683687e-03,
        2.97254890e-01, -2.57375706e-02, -2.97146142e-02,  6.37788698e-02,
        2.85187125e-01,  3.58450450e-02,  1.19068548e-01, -6.97642714e-02,
        3.24107930e-02,  1.61077395e-01, -3.22217584e-01,  2.41140246e-01,
       -1.18099503e-01, -1.06554024e-01, -4.28812206e-02,  1.50102824e-01,
       -5.78836389e-02, -1.11871883e-01,  1.13778852e-01,  8.59971121e-02,
       -1.15833044e-01,  1.22059256e-01, -1.19556293e-01, -6.96896017e-02,
        1.10124305e-01,  1.31758749e-01, -3.91494036e-01, -4.48506661e-02,
        2.80723989e-01, -2.28993863e-01, -4.29950319e-02,  1.28594428e-01,
       -9.58682075e-02, -4.28873897e-02,  5.52541912e-02, -2.59508610e-01,
        4.17997956e-01, -4.12853844e-02,  2.66161591e-01,  3.51568073e-01,
        1.37945088e-02, -1.65482014e-01, -5.12405969e-02,  1.50303930e-01,
       -9.63223726e-02,  3.55362110e-02,  2.38684025e-02, -1.42662138e-01,
        5.55146765e-03,  4.02205914e-01,  1.72386631e-01, -7.21613839e-02,
        1.28709972e-01,  8.60461518e-02, -1.81353819e-02, -2.51565993e-01,
        1.01873139e-02, -1.45000145e-01, -1.83103234e-01,  5.61827570e-02,
       -8.51373076e-02,  1.34504110e-01, -2.03052640e-01,  7.23991022e-02,
        2.08804049e-02,  4.50409874e-02, -8.99885371e-02,  2.19352737e-01,
        9.36632156e-02,  3.62592526e-02, -3.34149972e-02,  1.42303467e-01,
       -2.18935162e-01,  5.37425689e-02,  3.67458671e-01, -3.23683560e-01,
        1.11530647e-01, -4.86276448e-02,  2.12323204e-01,  2.80883074e-01,
       -7.54008293e-02, -9.52239148e-04, -6.21274933e-02,  8.66673440e-02,
        1.79784268e-01, -1.59064382e-01,  9.25544426e-02,  7.43997619e-02,
       -5.55418581e-02, -7.78576881e-02,  2.90773839e-01,  2.61297405e-01,
       -7.05358759e-02, -9.39205941e-03,  1.25925854e-01,  1.23671480e-01,
        2.29486883e-01,  7.99162537e-02,  6.06886335e-02, -2.64199004e-02,
       -2.83219479e-02,  2.68113554e-01,  1.88787058e-01, -8.33346322e-02,
        1.84796765e-01,  1.20350987e-01,  5.96829914e-02,  5.29885590e-02,
       -1.25273794e-01, -2.49030665e-01, -1.02205783e-01,  4.01154310e-02,
        1.04558609e-01,  2.49151681e-02, -7.11106658e-02, -2.32935473e-01,
       -7.98817277e-02, -1.93078861e-01,  8.73270407e-02,  2.78521836e-01,
        2.45119818e-02, -1.01934530e-01, -1.35703698e-01, -2.26508826e-02,
       -1.53095499e-01, -8.23829919e-02,  1.81161845e-03, -1.25044242e-01,
       -1.11940920e-01, -1.06713758e-03,  8.60482380e-02,  1.07159212e-01,
       -2.06274539e-01, -2.71406710e-01,  6.59849495e-02, -1.64986938e-01,
       -1.81003720e-01, -8.05976707e-03,  7.56730959e-02, -1.40885130e-01,
       -9.89280082e-03,  1.71039864e-01, -1.47133367e-02,  2.79982034e-02,
        1.34596247e-02,  1.76339179e-01, -1.62970796e-01, -3.27581048e-01,
       -1.82839826e-01, -1.56562719e-02, -8.63662511e-02, -2.81078927e-02,
        5.29046953e-02,  7.11435452e-02, -2.30753198e-02, -1.70140222e-01,
       -1.72013491e-02, -2.77994543e-01, -2.32832745e-01,  3.52661051e-02,
        2.96754777e-01,  2.32724920e-01,  1.32115051e-01, -1.88805565e-01,
        1.36339232e-01,  2.51133591e-02, -1.41705588e-01,  2.19221130e-01,
       -2.44550798e-02,  3.19955833e-02, -1.13182716e-01,  2.84047812e-01,
       -3.45956206e-01,  2.08369970e-01, -1.41797373e-02, -3.36282134e-01,
       -8.49094894e-03, -1.62158787e-01,  7.11880103e-02,  2.21525151e-02,
        2.07794100e-01, -6.15098327e-02, -1.01824090e-01,  4.71956767e-02,
        1.76597312e-01,  1.58733740e-01,  9.87237766e-02,  2.08244577e-01,
       -2.56851524e-01, -1.98530123e-01,  4.03169066e-01, -1.61486685e-01,
        1.00635707e-01,  1.80128187e-01,  1.01378923e-02, -2.95433262e-03,
       -1.94408700e-01, -2.06358686e-01, -3.34936053e-01,  8.27891976e-02,
        2.88201142e-02,  8.66938308e-02,  1.55245602e-01, -6.57787845e-02,
        1.20868735e-01,  2.17774138e-01,  3.17223370e-01,  6.06298447e-02,
       -1.57927170e-01, -1.13919124e-01,  1.69459298e-01,  8.99330676e-02,
       -2.61397153e-01,  1.87811498e-02, -2.25570083e-01, -2.30376888e-02,
       -3.92924733e-02,  1.94881231e-01, -9.66371149e-02,  3.17195177e-01,
       -3.45812440e-01,  2.77989000e-01, -1.81827649e-01, -2.19821390e-02,
       -8.07327330e-02, -4.31261994e-02, -2.22764000e-01,  4.13226038e-01,
        7.18920752e-02, -7.50865489e-02, -5.60632162e-02, -8.35043937e-02,
       -3.04864459e-02, -7.53050484e-03,  1.69506237e-01,  2.27818917e-02,
       -4.24941540e-01,  1.59754872e-01, -4.60044704e-02,  4.35956828e-02,
        1.53836221e-01,  7.22356141e-02, -1.01976596e-01, -1.29824072e-01,
        2.66030699e-01,  1.01023549e-02,  2.11250022e-01,  4.65289950e-02,
       -1.81395933e-01,  3.37306084e-03,  2.82275856e-01,  1.29424125e-01,
       -2.79297888e-01,  1.20067447e-01, -1.79061905e-01,  5.31792752e-02,
        4.78075296e-02,  4.49807271e-02,  3.10450196e-01, -9.17656869e-02,
        1.59713715e-01, -2.39221733e-02, -7.53354803e-02,  2.20968854e-02,
       -1.35937363e-01, -2.90657468e-02, -1.45712137e-01,  1.88249975e-01,
       -2.21029907e-01, -8.23327303e-02, -6.46573454e-02,  1.72558486e-01,
       -1.80291697e-01, -1.61992490e-01,  1.48908436e-01, -1.44634962e-01,
       -1.95777178e-01,  1.40734911e-01,  6.52514994e-02,  1.93889849e-02,
       -6.83388561e-02,  1.86336920e-01, -1.62273966e-04,  2.41637021e-01,
        4.02091704e-02, -4.15690631e-01,  3.51940952e-02, -8.19447637e-02,
       -3.47598419e-02, -1.91815034e-01,  2.67078668e-01, -3.96079749e-01,
       -1.06377825e-01, -9.10944641e-02,  2.10476108e-02,  1.87945530e-01,
       -4.55424972e-02,  7.72150233e-02,  2.09803395e-02,  8.36783275e-02,
       -1.24772293e-02, -5.58932461e-02, -1.62157677e-02, -2.03327492e-01,
        2.22506464e-01,  2.18787059e-01,  5.57072982e-02,  9.75936186e-03,
        8.52248296e-02, -1.65013954e-01, -1.29957292e-02,  6.30561709e-02,
       -2.69316047e-01, -1.55366853e-01,  1.60346390e-04, -1.90430909e-01,
        3.84223387e-02,  2.52169021e-03, -1.37010500e-01, -6.42566606e-02,
        3.95738035e-01, -5.70853390e-02, -1.07075483e-01,  2.71501727e-02,
       -1.49250850e-01,  3.48065491e-03,  9.98184830e-02, -3.13059166e-02,
        3.08979034e-01,  2.71575935e-02,  1.30049169e-01,  4.88753878e-02,
        1.32445365e-01,  6.28671497e-02, -6.27033934e-02,  1.69271708e-01,
        3.70478034e-02,  1.39700979e-01,  1.07397214e-01,  1.49904221e-01,
       -7.12433681e-02, -1.53721601e-01, -2.88368642e-01,  7.13428110e-02,
       -5.52992411e-02, -8.60918760e-02, -1.00805603e-01, -1.13730960e-01,
       -8.75069872e-02,  3.19102481e-02, -2.62932718e-01, -4.50364538e-02,
       -1.18249558e-01, -2.08021224e-01,  2.72541661e-02, -1.57509595e-01,
       -6.50633872e-03,  9.69634652e-02, -2.43258625e-01,  4.50394638e-02,
        7.68618733e-02, -1.00034937e-01, -1.33314254e-02,  2.15358511e-01,
        1.30988345e-01, -8.63290206e-02, -7.20486641e-02, -1.14955299e-01,
        1.13476798e-01,  5.72567731e-02,  4.54971865e-02, -3.22084166e-02,
       -2.83149660e-01, -5.15661091e-02,  1.22945882e-01,  1.77931681e-01,
        6.27802126e-03,  3.06440145e-01, -8.09874088e-02,  1.12093002e-01,
       -1.77281335e-01, -1.46383584e-01, -2.13151779e-02,  1.21935457e-01,
        7.17309937e-02,  5.78764938e-02,  1.21658280e-01, -1.51182711e-01,
       -2.10342601e-01, -3.66233319e-01, -7.41798431e-02,  1.62003726e-01,
       -5.93750328e-02, -1.76673874e-01, -5.04403338e-02, -2.45015934e-01,
       -6.52366951e-02, -2.32973248e-01,  5.53943031e-02,  2.42980748e-01,
        2.51270890e-01,  2.54533421e-02,  1.16717272e-01, -7.53189474e-02,
       -6.05464317e-02,  7.88413957e-02, -6.08582273e-02,  2.78546125e-01,
        7.02871978e-02,  1.29221482e-02, -1.31980032e-01,  2.12164268e-01,
        3.21622677e-02, -6.53194115e-02, -3.89914438e-02, -8.05784464e-02,
        1.89085696e-02, -7.08948150e-02,  8.80676657e-02, -1.71793774e-01,
        3.88676643e-01, -8.81787166e-02, -2.37638161e-01,  1.41997620e-01,
       -1.45640671e-01, -1.98156863e-01,  4.30281926e-03,  8.71503055e-02,
        4.35944181e-03, -1.24926366e-01, -4.75840159e-02,  2.16704011e-01,
       -5.66621013e-02, -8.71208087e-02,  8.59676674e-02,  4.60212352e-03,
        6.10848255e-02,  1.76436514e-01, -3.09389308e-02,  2.97411263e-01,
       -1.10046059e-01, -2.58795340e-02, -1.72879770e-01,  1.29817009e-01,
       -8.47956762e-02,  2.21598782e-02,  2.02129453e-01,  1.63750440e-01,
        4.86135967e-02, -3.03180337e-01,  7.14033991e-02,  3.46059315e-02,
        1.62878156e-01, -1.20110810e-01, -2.00074121e-01, -5.20272925e-02,
        1.69474646e-01,  5.21496832e-01, -2.08445817e-01,  9.31607187e-03,
        4.73283119e-02,  2.42114156e-01, -2.82369256e-02,  5.86976297e-02,
        7.38663971e-02, -2.49058813e-01,  1.36222303e-01, -9.32356045e-02,
        4.26754862e-01,  2.06283092e-01,  2.00054169e-01,  9.09016058e-02,
       -1.83150113e-01, -2.08144903e-01, -5.29629737e-02,  1.15056969e-01,
        1.92925215e-01,  1.25407308e-01,  1.04122072e-01, -1.22567520e-01,
        5.72294071e-02,  3.08748275e-01,  1.22399395e-02, -1.22932695e-01,
        2.06313729e-02,  5.44230565e-02,  1.75932527e-01, -9.48355719e-03,
       -2.33146936e-01,  1.51801750e-01, -9.65572968e-02,  6.20361492e-02,
        3.19026560e-02, -1.55729547e-01,  1.29320011e-01,  2.46655330e-01,
        7.93442875e-02, -8.17321390e-02, -2.19941810e-01, -2.50289850e-02,
        2.65661851e-02,  3.26530576e-01,  1.03533991e-01, -3.92454155e-02],
      dtype=float32)

In [201]:
toy_story1_vec

array([-1.11733275e-02,  2.02332484e-03,  5.46153449e-03, -5.50984126e-03,
        5.95646724e-03, -2.09215954e-02,  2.94126347e-02, -2.77331471e-02,
        3.96656506e-02,  2.75880322e-02,  1.88987181e-02,  1.05378414e-02,
        4.28187586e-02, -1.53473765e-02,  2.99978815e-03,  1.16213504e-02,
       -6.02362119e-03, -6.03786809e-03,  2.35972069e-02, -1.45992041e-02,
       -1.33595187e-02,  2.62241904e-02,  5.55036915e-03,  1.16651412e-02,
        2.96097528e-02, -2.04302669e-02, -1.65991224e-02,  1.83865279e-02,
        2.28166697e-03,  1.65198129e-02,  2.14585904e-02, -2.43959408e-02,
        1.41429603e-02, -1.94566250e-02,  2.25478783e-02,  2.67442316e-02,
        6.24932407e-04,  1.92349795e-02,  1.80827957e-02, -4.74170335e-02,
        1.40443696e-02,  5.76709118e-03,  1.02263149e-02,  2.60467622e-02,
       -1.71668245e-03, -2.45246645e-02,  8.73882044e-03,  3.21199447e-02,
       -5.12653636e-03,  1.00812875e-02, -7.76473805e-03,  2.71340292e-02,
        1.75255872e-02,  5.51623013e-03,  2.32893210e-02, -1.82652194e-02,
       -1.09394323e-02,  1.92836672e-02, -1.97468437e-02,  1.08517064e-02,
        4.58751991e-03,  2.93421540e-02,  2.20840890e-02,  9.25155543e-03,
        1.38554322e-02, -1.64486445e-03, -7.36671127e-03, -1.99951493e-04,
       -1.45737343e-02,  4.52247076e-03,  4.41851839e-03,  2.45940778e-02,
        1.67577080e-02,  4.10107663e-03, -1.53364725e-02,  1.75657123e-02,
       -2.99257901e-03, -1.79063529e-02,  2.33656280e-02,  1.33571289e-02,
        1.44966962e-02,  2.52054241e-02,  2.45452728e-02,  6.72480604e-03,
        1.50145777e-02, -4.73572919e-03,  2.03312817e-03,  4.78367181e-03,
       -4.03290475e-03,  3.42737660e-02,  2.41053011e-02,  1.80351026e-02,
        1.33379037e-02,  1.84021294e-02,  3.31406854e-02,  1.62753761e-02,
        1.96347618e-03,  5.25793666e-03,  7.84563646e-03, -1.50029026e-02,
        2.16400772e-02, -8.68058950e-03, -1.96986478e-02,  6.48055784e-03,
        9.34485812e-03,  1.60450619e-02,  2.27236957e-03,  1.86533555e-02,
        1.43994745e-02, -8.40198901e-03,  1.83188263e-02,  1.60442218e-02,
        2.83350609e-03,  2.99098063e-03,  4.79454640e-03,  3.62157077e-02,
        1.88777223e-02,  1.88536718e-02,  1.72898006e-02,  9.73071158e-03,
        9.66030639e-03,  2.59970780e-02, -1.59591492e-02, -2.80334372e-02,
        5.06327488e-02,  9.65541136e-03,  3.34640220e-03,  2.76375189e-02,
        1.27235465e-02,  1.84383336e-02,  1.40457302e-02,  1.85399614e-02,
       -5.47142001e-03, -4.77417000e-03, -1.42861269e-02,  1.24840420e-02,
       -6.93015335e-03, -1.04739657e-02,  9.76319890e-03, -1.29060028e-02,
        1.32756270e-02,  3.67570855e-02, -1.32823456e-03,  1.24146594e-02,
       -1.21288886e-02,  1.74638852e-02,  2.16353219e-02,  1.91979259e-02,
       -2.33468134e-02, -2.03337353e-02, -5.16551407e-03, -1.42150009e-02,
        4.64738207e-03, -1.58251682e-03,  1.71257686e-02, -1.11343917e-02,
       -1.59399118e-02, -2.20891610e-02,  1.11098094e-02,  1.71534792e-02,
       -1.29497494e-05,  1.59752555e-02,  4.95498534e-04, -1.61458272e-02,
        1.35797663e-02,  1.18092792e-02,  2.69773435e-02,  1.53065771e-02,
        2.71043126e-02, -4.46632039e-03,  2.92008687e-02, -2.66626179e-02,
        1.32242143e-02, -1.27081517e-02, -2.01433711e-02, -1.07373009e-02,
       -2.36277543e-02,  1.02176415e-02, -3.85921029e-03,  1.46219227e-03,
       -2.66296659e-02, -3.96754965e-03,  3.14317122e-02,  3.11437305e-02,
       -1.91478934e-02, -1.38660995e-02, -1.72526911e-02,  2.14378312e-02,
        3.25264782e-02, -4.68222238e-03, -1.09529551e-02,  7.82160182e-03,
       -1.57875754e-02,  3.56117971e-02,  1.21848462e-02, -5.26641123e-03,
        1.88485384e-02,  2.83916015e-02,  1.33750662e-02,  1.68259833e-02,
        3.61594558e-02,  1.51987886e-02,  2.14616172e-02,  2.28131507e-02,
        2.38035396e-02, -4.90657520e-03,  8.07777885e-03,  2.96097379e-02,
       -6.21498190e-03, -7.61792995e-03,  3.25708464e-02,  1.21529866e-02,
        1.08987652e-02, -1.05276434e-02,  7.60545768e-03,  1.88010484e-02,
        1.23385517e-02, -1.83816608e-02,  1.84581596e-02,  2.50707176e-02,
       -4.65949625e-03, -3.19684041e-03, -3.01595535e-02,  6.54469477e-04,
        4.43070456e-02,  2.52165948e-03, -3.37266938e-05,  3.70584764e-02,
        1.48516344e-02,  2.35000011e-02, -7.43114343e-03, -1.86517723e-02,
        2.75465902e-02, -1.35125387e-02,  1.32198697e-02,  1.83061436e-02,
       -2.43228860e-02,  1.49502624e-02,  2.65696691e-03,  1.66422036e-02,
        5.55166160e-04, -1.12789609e-02,  1.03418641e-02, -3.28264162e-02,
        3.89152556e-04,  2.91429507e-03,  4.82164957e-02,  1.33686874e-03,
        3.04727461e-02,  2.57860310e-02,  1.27845835e-02, -2.13814643e-03,
        2.03572903e-02, -1.52438655e-02, -2.47191545e-02, -7.62392301e-03,
       -1.54306795e-02,  8.30193888e-03, -3.69315298e-04, -2.42211744e-02,
       -5.41914301e-03,  4.19572787e-03, -6.67591253e-03,  8.93337559e-03,
        3.34331430e-02, -8.41466524e-03, -3.48245353e-02,  1.85168665e-02,
       -1.96174830e-02, -5.00788307e-03, -8.45418690e-05, -2.10401379e-02,
       -1.46031601e-03, -8.47859960e-03,  2.49611624e-02,  4.73644398e-02,
       -1.44698599e-03, -1.29841119e-02, -2.99112052e-02, -7.41268694e-03,
        6.55776914e-03,  1.05936350e-02,  3.08900420e-02,  1.99496467e-02,
       -2.50648893e-03, -1.60828233e-02, -2.81563890e-03,  2.70666252e-03,
       -2.62221601e-02, -9.97133611e-05,  1.31311789e-02, -1.10476203e-02,
        1.44473054e-02,  1.79115497e-02, -8.87410995e-03,  4.01417632e-03,
        2.63573360e-02,  2.35890467e-02, -1.31110102e-02,  5.45859244e-03,
       -5.69358980e-03, -2.19896133e-03,  2.74967644e-02, -2.33133067e-03,
       -4.07969393e-03, -1.44106885e-02,  2.03933287e-02, -1.04946317e-02,
       -2.52191303e-03, -2.19632760e-02,  2.49948958e-03, -4.97015775e-04,
        6.73121121e-03,  2.22201832e-02,  2.86111757e-02,  4.51951511e-02,
       -1.11494691e-03,  3.08714225e-03, -1.54473353e-02, -2.08649915e-02,
       -2.18930487e-02, -3.99364159e-03, -1.42018124e-02, -5.23093564e-04,
       -1.68636553e-02,  1.16569670e-02, -1.60922594e-02, -4.78059007e-03,
        1.13757392e-02, -4.09139181e-03,  1.10808881e-02,  1.25026349e-02,
       -1.43436911e-02, -2.09732971e-04,  2.73654032e-02, -1.76215935e-02,
       -2.66258363e-02,  2.32570916e-02,  4.57224669e-03,  1.24157667e-02,
        2.75928751e-02,  4.04825844e-02, -2.96910740e-02, -2.71594021e-02,
       -2.75544748e-02,  7.12690968e-03, -2.62741395e-03,  1.05185984e-02,
       -1.49679137e-02,  7.87506904e-03,  1.33483335e-02, -1.08022541e-02,
       -8.69409181e-03, -3.19305807e-02, -1.65395215e-02, -8.04037601e-03,
        3.81557047e-02,  2.31600180e-03,  1.35420915e-02,  2.89364043e-03,
        6.52128551e-03,  1.55062275e-02, -6.10956107e-04,  3.36856209e-02,
       -1.79477371e-02,  3.38656679e-02, -1.14138955e-02,  2.52083540e-02,
       -1.68482624e-02,  3.54616493e-02, -1.33867087e-02, -2.30524056e-02,
       -5.53374132e-03, -1.54247070e-02,  9.50246770e-03,  4.23702830e-03,
        1.88486166e-02, -1.62426513e-02,  1.81231275e-02,  1.16556231e-02,
        3.52631533e-03,  1.77442972e-02,  1.04731591e-02,  1.91183519e-02,
       -3.12761846e-03, -1.91430580e-02,  2.52366588e-02,  8.66204151e-04,
        3.93018499e-02,  1.93218030e-02, -1.24105215e-02,  1.33841634e-02,
       -1.79590099e-02, -9.52949096e-03, -5.46631357e-03, -4.42103250e-03,
        3.75281740e-03,  3.65616265e-03,  1.07157081e-02,  1.14020426e-02,
        3.90673429e-02, -2.66337418e-03,  2.29579881e-02, -4.72227373e-04,
       -2.59973761e-02,  1.75561439e-02,  1.22778090e-02,  2.61853319e-02,
       -3.13496590e-02, -1.52120031e-02, -1.09190978e-02, -1.95450848e-03,
       -7.75163388e-03, -6.87049050e-03, -2.69763451e-02, -1.87517218e-02,
       -1.14824064e-02,  3.67052183e-02, -1.20750198e-03,  5.38431806e-03,
        2.21008132e-03,  9.09588765e-03, -6.66966895e-03,  2.87056752e-02,
       -1.38444640e-02,  1.56832635e-02,  1.81936938e-02, -2.00531334e-02,
       -1.62846874e-02,  1.03306212e-02,  3.15404870e-02, -8.92420672e-03,
        7.62441242e-03,  2.08090898e-02, -1.42821865e-02, -5.37971081e-03,
        3.66490111e-02, -6.73961081e-03,  1.14592360e-02, -2.04074718e-02,
        3.79690295e-03, -4.86371852e-03,  2.75413897e-02,  6.16701925e-03,
       -2.17099059e-02,  1.41474111e-02,  3.55489068e-02,  1.20920558e-02,
       -1.44051323e-02, -8.94697662e-03, -1.37216458e-02,  6.90201437e-03,
        7.30219483e-03,  2.39690226e-02,  1.16827367e-02,  2.75473986e-02,
        3.88440005e-02, -5.37746819e-03,  3.88638140e-03, -1.07642096e-02,
       -1.28431767e-02, -6.78551616e-03, -4.98914160e-03, -2.12163124e-02,
        1.17511796e-02,  1.25097437e-02,  3.17501789e-03,  1.82313528e-02,
       -3.35977599e-02, -1.04585513e-02,  2.73483749e-02, -5.41239604e-03,
       -1.39427148e-02,  3.95911969e-02,  6.63314760e-03,  2.15873439e-02,
        3.48317437e-02,  6.21566083e-03,  1.33403912e-02,  4.76472005e-02,
        3.08454558e-02, -2.46396363e-02, -9.42522194e-03,  1.73409563e-02,
        1.52235627e-02,  4.08498384e-03,  5.51343430e-03, -2.68933475e-02,
        1.67771932e-02,  8.59147683e-03, -5.38650574e-03, -1.98866185e-02,
       -7.74871977e-03,  2.48048026e-02, -1.02771521e-02,  2.48778332e-02,
        2.85074469e-02, -4.56322310e-03,  2.92132236e-02, -3.27505879e-02,
       -3.80182243e-03,  1.72830019e-02,  2.38574054e-02, -2.83649960e-03,
       -1.53917335e-02, -8.15116800e-03,  1.33339604e-02, -7.67554250e-03,
       -1.14095230e-02, -3.95113137e-03,  2.53851786e-02, -1.56392949e-03,
        3.11795175e-02,  6.63205981e-03, -7.31304986e-03, -2.81141512e-03,
        1.83484200e-02,  1.17719788e-02,  3.83499078e-03,  6.59473799e-03,
        3.38925107e-04, -9.54834744e-03,  1.70656648e-02,  1.44024752e-03,
        2.20561381e-02,  8.28033255e-04,  2.06792653e-02,  5.04880864e-03,
        1.87260099e-02,  1.75570641e-02,  6.45449711e-03,  3.55980247e-02,
        1.07349874e-02, -1.28511526e-02,  4.99072857e-03, -1.79679189e-02,
       -3.08285169e-02, -3.03149293e-03, -8.27570446e-03,  1.63642745e-02,
       -9.15353838e-03,  1.81471594e-02,  9.22673102e-03, -1.81155000e-02,
       -5.50819794e-03,  2.11019497e-02, -1.06207849e-02, -1.66530441e-02,
       -1.26422860e-03, -4.71127825e-03,  1.67157538e-02, -2.30229590e-02,
        1.32403253e-02,  1.26984401e-03,  6.11045910e-03,  1.59899704e-02,
        2.17306726e-02, -9.72114876e-03,  1.15473540e-02, -6.37346832e-03,
        1.69902593e-02, -8.10330850e-04, -3.05928639e-03, -2.47288905e-02,
        2.05132850e-02,  1.77656878e-02,  1.65763199e-02,  4.55555040e-03,
       -2.49635652e-02,  2.80164313e-02,  2.21371334e-02,  3.65092270e-02,
       -5.11880266e-04,  3.09277698e-02, -1.57172624e-02, -2.36597727e-03,
       -8.23500042e-04,  2.54953150e-02, -1.18232309e-03,  4.73533422e-02,
        6.80031581e-03, -2.12931484e-02, -5.70519711e-04, -1.70887401e-03,
       -2.10412350e-02, -7.86244590e-03, -9.93247796e-03,  2.15058271e-02,
        1.91004742e-02, -1.69733260e-02,  2.20858101e-02, -7.89607596e-03,
       -7.40475161e-03, -1.19052790e-02,  9.97855701e-03,  1.46724600e-02,
        2.40523834e-02,  1.37592489e-02, -2.78358813e-03,  5.51279355e-03,
        1.54768059e-04, -2.16257591e-02,  2.53199097e-02,  2.69026496e-02,
        6.23716321e-03, -3.30221746e-03, -3.81523161e-03,  3.49322893e-03,
        1.08003514e-02,  4.00308371e-02,  2.44840179e-02,  3.05879250e-04,
        9.44650918e-03,  7.08422192e-08,  1.99470166e-02, -5.54865459e-03,
        3.92357558e-02,  6.87640021e-03, -1.07253455e-02,  1.56014431e-02,
       -1.83577966e-02, -1.14120508e-03, -5.72008220e-03,  3.16415541e-02,
        2.41717733e-02, -3.26332338e-02,  1.13001959e-02,  2.45523285e-02,
       -8.70074239e-03, -1.76314246e-02,  4.33315374e-02,  1.16172964e-02,
        2.48136148e-02,  2.44551599e-02, -1.84151102e-02,  1.71203148e-02,
       -2.48573720e-02,  3.95856053e-03,  2.84438320e-02,  9.72598139e-03,
       -2.39845216e-02, -9.59680357e-04,  4.41873223e-02,  2.38272473e-02,
        1.32187381e-02, -4.09965403e-02,  6.46350114e-03,  5.33904415e-03,
        5.04927151e-03, -1.59623735e-02, -2.11522169e-02, -2.23401170e-02,
        3.95949259e-02,  2.83691529e-02, -1.67393945e-02,  2.21208273e-03,
        5.16645086e-04,  3.59204225e-02,  2.68480349e-02,  3.41777131e-02,
        1.29276542e-02, -2.08327058e-03, -7.61780376e-03,  2.44093481e-02,
        1.65915266e-02,  1.15617579e-02,  1.80436205e-02,  1.90694761e-02,
        4.16333700e-04, -1.03761936e-02,  1.00810360e-03,  2.19237767e-02,
        2.22355817e-02,  3.75589053e-03, -1.51740632e-03, -1.32389180e-02,
        2.36315709e-02,  1.03387637e-02, -3.72557715e-02, -1.91503204e-02,
       -1.20232562e-02, -1.76336581e-03, -1.26482425e-02, -1.38054295e-02,
       -1.79603454e-02,  1.28094722e-02,  6.27515838e-03, -7.62497308e-04,
        1.96259301e-02,  6.34805486e-03,  2.07836330e-02,  3.21172215e-02,
        1.57463495e-02,  3.51938792e-02,  1.50868557e-02,  1.04872724e-02,
       -2.30414756e-02,  3.88775542e-02,  9.30471625e-03,  3.40482257e-02],
      dtype=float32)

In [202]:
# test_user와 toy_story1을 내적하는 코드
np.dot(test_user_vec, toy_story1_vec)

0.95071226

factors=1000로 지정하였더니, 사용자와 아이템 벡터 내적수치가 의미있게 잘 형성되었다.<br/>
factors를 100으로 주게 되면, 약 0.57%가 나온 것을 확인하였다.

<div style = "height: 50px;"></div>

## 2. 내가 좋아하는 영화와 비슷한 영화를 추천받아 보기
<hr/>

In [284]:
# 유사도 구하는 함수
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = similar_movie[0]
    similar_movie = [idx_to_movie[i] for i in similar_movie]
    return similar_movie

In [295]:
# 영화 검색을 통해 movie_id 찾기
movie_id_toy = ratings.drop_duplicates(['title'], keep = 'first')
movie_id_toy[movie_id_toy['title'].str.contains('pocahontas')]

,user_id,counts,movie_id,title,genre,timestamp
19773,252,4,47,pocahontas (1995),animation|children's|musical|romance,974999474

toy story를 검색해서 toy story2가 나온다면 성공으로 판단하고자 한다.

In [296]:
movies[movies['title'].str.contains('pocahontas')]

    movie_id              title                                 genre
47        48  pocahontas (1995)  animation|children's|musical|romance

In [297]:
similar_movie = get_similar_movie(48)

In [298]:
similar_data = movies[movies['movie_id'].isin(similar_movie)]
similar_data

,movie_id,title,genre
47,48,pocahontas (1995),animation|children's|musical|romance
307,310,rent-a-kid (1995),comedy
773,783,"hunchback of notre dame, the (1996)",animation|children's|musical
805,815,power 98 (1995),action|mystery|thriller
876,888,land before time iii: the time of the great gi...,animation|children's
1774,1843,slappy and the stinkers (1998),children's|comedy
2182,2251,"cabinet of dr. ramirez, the (1991)",comedy
2490,2559,"king and i, the (1999)",animation|children's
2497,2566,doug's 1st movie (1999),animation|children's
3067,3136,"james dean story, the (1957)",documentary

왕과 나, 노틀담의 꼽추, 공룡시대 3 등 많은 애니메이션 영화가 출력된 것을 확인할 수 있었다. <br/> 유사도가 의미있게 측정이 되었다.

<div style = "height: 50px;"></div>

## 3. 내가 가장 좋아할 만한 영화들을 추천받아보기
<hr/>

In [251]:
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
movies_recommended = als_model.recommend(user, csr_data, N=10, filter_already_liked_items=True)
movies_recommended

ValueError: user_items must contain 1 row for every user in userids

오류를 찾아본 결과, csr_data[userids]로 변경해야한다는 것을 확인하였다. <br/>
[참고자료](https://bytemeta.vip/repo/benfred/implicit/issues/535)

In [258]:
user = user_to_idx[6041]
# recommend에서는 user*item CSR Matrix를 받습니다.
movies_recommend = als_model.recommend(user, csr_data[user], N=10, filter_already_liked_items=True)
movies_recommend

(array([ 725, 1409,  568,  575, 2434, 3304, 1689, 1520, 2506, 2153],
       dtype=int32),
 array([0.21304816, 0.18543401, 0.16891176, 0.14465469, 0.14410135,
        0.1351954 , 0.12553616, 0.11215486, 0.11122189, 0.1099642 ],
       dtype=float32))

In [259]:
recommend_movie = movies_recommend[0]

In [260]:
movies_recommend = [idx_to_movie[i] for i in recommend_movie]

In [320]:
movies_recommend

[783, 1566, 588, 595, 2687, 3615, 1907, 1688, 2761, 2394]

In [321]:
movies[movies['movie_id'].isin(movies_recommend)]

,movie_id,title,genre
584,588,aladdin (1992),animation|children's|comedy|musical
591,595,beauty and the beast (1991),animation|children's|musical
773,783,"hunchback of notre dame, the (1996)",animation|children's|musical
1526,1566,hercules (1997),adventure|animation|children's|comedy|musical
1642,1688,anastasia (1997),animation|children's|musical
1838,1907,mulan (1998),animation|children's
2325,2394,"prince of egypt, the (1998)",animation|musical
2618,2687,tarzan (1999),animation|children's
2692,2761,"iron giant, the (1999)",animation|children's
3546,3615,dinosaur (2000),animation|children's

미녀와 야수, 노틀담의 꼽추, 헤라클레스, 아나스타샤, 뮬란, 이집트 왕자, 타잔 등 각종 동화 애니메이션 영화들을 추천받았다. <br/> 그 중, 노틀담의 꼽추가 0.21304816으로 가장 높으므로, 노틀담의 꼽추를 추천할 때 추가했던 각각 my_favorite들의 기여도를 확인하고자 한다.

<div style = "height: 50px;"></div>

## 4. 기여도 확인하기
<hr/>

In [330]:
pocahontas = movie_to_idx[783]
explain = als_model.explain(user, csr_data, itemid = pocahontas)

In [331]:
explain

(0.21131858974165724,
 [(47, 0.15035395579520142),
  (350, 0.03454991607283462),
  (3182, 0.029928047362040813),
  (0, -0.0008852820369958259),
  (2845, -0.0026280474514237713)],
 (array([[0.59014716, 0.15278273, 0.16235044, ..., 0.10929095, 0.10622961,
          0.12207671],
         [0.09016429, 0.61502478, 0.14821994, ..., 0.1047266 , 0.10400323,
          0.11683836],
         [0.09581065, 0.11596328, 0.6139697 , ..., 0.09324496, 0.0957614 ,
          0.09955473],
         ...,
         [0.06449774, 0.08110722, 0.09051558, ..., 0.52140977, 0.00386288,
          0.00853695],
         [0.06269111, 0.08019461, 0.09145637, ..., 0.06588863, 0.52365138,
          0.00139759],
         [0.07204323, 0.0905097 , 0.09826057, ..., 0.07610832, 0.07113377,
          0.51762511]]),
  False))

In [332]:
explain_data = [(idx_to_movie[i[0]], i[1]) for i in explain[1]]

In [341]:
explain_list = []

for i in range(5):
    j = explain_data[i][0]
    explain_list.append(j)

In [345]:
explain_list

[48, 364, 3483, 1, 3114]

In [344]:
movies[movies['movie_id'].isin(explain_list)]

,movie_id,title,genre
0,1,toy story (1995),animation|children's|comedy
47,48,pocahontas (1995),animation|children's|musical|romance
360,364,"lion king, the (1994)",animation|children's|musical
3045,3114,toy story 2 (1999),animation|children's|comedy
3414,3483,"road to el dorado, the (2000)",animation|children's

노틀담의 꼽추를 추천하는데 가장 큰 영향을 미친 영화는 pocahontas이며,  약 0.1503540의 영향을 미친 것을 확인하였다.

### 기여도 순위

<ol>
    <li style = "margin-bottom:3px;"><span style = "font-weight:bold;color:#0172d4;">pocahontas</span> : 0.1503540</li>
    <li style = "margin-bottom:3px;"><span style = "font-weight:bold;color:#0172d4;">lion king, the</span> : 0.034550</li>
    <li style = "margin-bottom:3px;"><span style = "font-weight:bold;color:#0172d4;">road to el dorado, the</span> : 0.029928</li>
    <li style = "margin-bottom:3px;"><span style = "font-weight:bold;color:#0172d4;">toy story</span> : -0.000885</li>
    <li style = "margin-bottom:3px;"><span style = "font-weight:bold;color:#0172d4;">toy story 2</span> : -0.002628</li>
</ol>

<div style = "height: 50px;"></div>

# <span style = "font-weight:bold;color:#0172d4;">STEP 7</span> : 회고하기

<ol style= "font-size:16px; line-height:30px;">
	<li style = "margin-bottom:14px;">영화 데이터가 2000년도까지라서 많이 아쉽다.</li>
	<li style = "margin-bottom:14px;">버전 문제로 인해 lms에서는 recommend가 잘 실행되었으나, 로컬에서는 작동하지 않았다.</li>
	<li style = "margin-bottom:14px;">2개의 데이터를 합치는 과정을 진행하였으나, 모델을 돌리는데에 있어 큰 작용을 하지 않아 시간을 낭비한 것 같다.</li>
	<li style = "margin-bottom:14px;">모델의 출력 결과를 시각화하면 좀 더 좋았을 것 같다. (시간 부족 이슈로 인한 한계)</li>
    <li style = "margin-bottom:14px;">출력된 인덱스를 movies의 인덱스로 변환하는 과정에 있어 오류가 뜨는데 버전 오류로 인해 생긴 것 같다.<br/>이는 [idx_to_movie[i] for i in 모델이 출력한 결과값들]에서 [idx_to_movie[i] for i in 모델이 출력한 결과값[0]]으로 처리하면 해결 가능하다.</li>
</ol>

<div style = "height: 50px;"></div>

## 2. 참고자료
<hr/>

<ul style= "font-size:16px; line-height:30px;">
    <li style = "margin-bottom:14px;"><a href = "https://bytemeta.vip/repo/benfred/implicit/issues/535">recommend 오류 해결법</a></li>
    <li style = "margin-bottom:14px;"><a href = "https://colab.research.google.com/drive/1wdFPQXfV8QV5EvQG-STGCJC0gObF62Mu#scrollTo=4B8J5xk06nsA">코랩 사용 시 오류 해결법</a></li>
</ul>

<div style = "height: 50px;"></div>